@keyframes fadein {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.jumbotron {
  text-align: center;
}

.header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

/*.sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #4ABDAC;
    text-align: center;
    height: 1000px;
}

.sidebar > a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}*/

.event {
  text-align: center;
  margin: 15px;
  background-color: #d8d8d8;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 2.5px #888888;
  animation: fadein .25s;
}

.event:hover {
  background-color: #acacac;
  box-shadow: 0px 0px 0px;
}
