{{ define "content" }}
<div class="header">
  <h2>Upcoming Events</h2>
</div>
<hr>
<div class="row">
  <div class="col-md-8 col-xs-12 main-content">
    <div class="container">
      {{ range $e := .Events }}
        <a href="/events/{{ $e.ID }}">
          <div class="col-md-4 event">
            <h3>{{ $e.Title }}</h3>
            <h4>{{ $e.Timestamp }}</h4>
          </div>
        </a>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
