{{ define "content" }}
<div class="header">
  <h2>Upcoming Events</h2>
</div><hr />
<div class="row">
  <div class="col-md-8 col-xs-12 main-content">
    <div class="container">
      <div class="col-md-4 event">
        <h3>Event Title</h3>
        <h4>4:00 am</h4>
      </div>
      <div class="col-md-4 event">
        <h3>Event Title</h3>
        <h4>4:00 am</h4>
      </div>
      <div class="col-md-4 event">
        <h3>Event Title</h3>
        <h4>4:00 am</h4>
      </div>
      <div class="col-md-4 event">
        <h3>Event Title</h3>
        <h4>4:00 am</h4>
      </div>
      <div class="col-md-4 event">
        <h3>Event Title</h3>
        <h4>4:00 am</h4>
      </div>
      <div class="col-md-4 event">
        <h3>Event Title</h3>
        <h4>4:00 am</h4>
      </div>
    </div>
  </div>
</div>
{{ end }}
