{{ define "content" }}
<div class="header">
  <h2>Upcoming Events</h2>
</div><hr />
<div class="row">
  <div class="col-md-8 col-xs-12 main-content">
    <div class="container">
      {{ range $title, $timestamp := .Events }}
        <div class="col-md-4 event">
          <h3>{{ $title }}</h3>
          <h4>{{ $timestamp }}</h4>
        </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
