{{ define "content" }}
  <div class="jumbotron">
    <h1>Welcome to Protest Pulse</h1>
  </div>
  <h3 style="text-align:center;">A web app for creating and keeping track of local protests and activist opportunities</h3><br />
  <a class="btn btn-primary btn-lg btn-login btn-block">
  Create an Account or Sign In</a>
{{ end }}
