{{ define "eventmodal" }}
<div class="modal fade" id="eventModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="text-align:center">Create a new event</h4>
      </div>
      <div class="modal-body">
        <form onsubmit="renderDate()" name="create" action="/create" method="post">
          <div class="form-group">
            <label for="title">Event Name:</label>
            <input type="text" class="form-control" name="title" required>
          </div>
          <div class="form-group">
            <label for="event_Type">Type:</label>
            <select name="event_type">
              <option selected>Select a category</option>
              <option value="1">In Person</option>
              <option value="2">Online</option>
              <option value="3">Donation</option>
            </select>
          </div>
          <div class="form-group">
            <label for="event_topic">Category:</label>
            <select name="event_topic">
              <option selected>Select a category</option>
              <option value="1">Police Brutality</option>
              <option value="2">Environment</option>
              <option value="3">Gender Equality</option>
              <option value="4">Racial Injustice</option>
              <option value="5">LGBTQ Rights</option>
              <option value="6">Indigenous Rights</option>
              <option value="7">Animal Rights</option>
              <option value="8">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">Event Description:</label>
            <input type="text" class="form-control" name="description">
          </div>
          <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" name="location" required>
          </div>
          <div class="form-group">
            <label for="start_date">Start Date:</label>
            <input type="date" class="form-control" name="start_date" required>
          </div>
          <div class="form-group">
            <label for="start_time">Start Time:</label>
            <input type="time" class="form-control" name="start_time" required>
          </div>
          <div class="form-group">
            <label for="end_date">End Date:</label>
            <input type="date" class="form-control" name="end_date" required>
          </div>
          <div class="form-group">
            <label for="end_time">End Time:</label>
            <input type="time" class="form-control" name="end_time" required>
          </div>
          <button type="submit" class="btn btn-default">Create Event</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }}
